:root{
    --color-1: #53595a;
    --color-2: #98babc;
    --color-3: #c6b79f;
}

body {
    padding: 0;
    margin: 0;
}

ul, li{
    list-style: none;
}

.main-layout {
    display: grid;
    height: 100vh;
    grid-template: 1fr 3fr/ 1fr 3fr;
   /* grid-template: 100px 100px 100px / 100px 100px 100px; */
} 

.sidebar, .content, header {
    border: 1px solid black;
}

.sidebar {
    background-color: var(--color-2);
    grid-area: 1 / 1 / -1 / 2;
    
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

.content {
    background-color: var(--color-3);
    grid-area: 2 / 2 / -1 / -1;
}

header {
    background-color: var(--color-1);
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
}

.search-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.button-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-content {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.project {
    grid-area: 1 / 1 / -1 / 2;
}